<div class="row">
    <nav class="nav-department d-flex gap-2 flex-column col-3">
        <a href="/User/@ViewBag.UserId" class="nav-item p-2">My department</a>
        <a href="/User/Other/@ViewBag.UserId" class="nav-item active p-2">Others</a>
    </nav>
    <div class="col-9">
        <a class="btn btn-info ms-2" href="/User/Export-Excel/Other/@ViewBag.User.DepartmentId">Export</a>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">Department</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < ViewBag.EmployeesCount; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@ViewBag.Employees[i].UserName</td>
                        <td>@ViewBag.Employees[i].Email</td>
                        <td>
                            @if (ViewBag.Employees[i].Address != null)
                            {
                                @ViewBag.Employees[i].Address
                            }
                            else
                            {
                                <i>Null</i>
                            }
                        </td>
                        <td>@ViewBag.ListDepartment[i]</td>
                        <td>@ViewBag.ListUserRole[i]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
