@{
    ViewData["Title"] = "Department Manager";
    Layout = "_Layout";
}

<h1 class="text-center my-4">Department Manager</h1>

<form id="frm-create" asp-action="@ViewBag.Action" asp-controller="Department" method="post">
    <div class="row">
        <div class="form-group col-md-6 col-12">
            <label for="Id" class="form-label">Id</label>
            @if (ViewBag.Action == "Update")
            {
                <input type="number" min="1" name="Id" hidden value="@ViewBag.Department.Id" />
                <input type="number" min="1" class="form-control" disabled value="@ViewBag.Department.Id" />
            }else
            {
                <input type="number" min="1" name="Id" id="Id" class="form-control" disabled />
            }
        </div>
        <div class="form-group col-md-6 col-12">
            @if (ViewBag.Action == "Update")
            {
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" name="Name" value="@ViewBag.Department.Name" />
            }else
            {
                <label class="form-label" for="name">Name</label>
                <input class="form-control" id="name" name="Name" />
            }
        </div>
        <div class="col-12 d-flex justify-content-end my-3">
            @if (ViewBag.Action == "Update")
            {
                <button class="btn btn-success mx-3" type="submit">Save</button>
                <a href="/Department" class="btn btn-danger">Cancel</a>
            }else 
            {
                <button class="btn btn-primary" type="submit">Add</button>
            }
        </div>
    </div>
</form>

@* <form asp-action="Delete" asp-controller="Department" method="post"> *@
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < ViewBag.DepartmentCount; i++)
            {
                <tr>
                    <th scope="row">@(i + 1)</th>
                    <td>@ViewBag.Departments[i].Id</td>
                    <td>@ViewBag.Departments[i].Name</td>
                    <td>
                        @* <button type="submit" class="btn btn-danger">Delete</button> *@
                    <a href="/Department/Update/@ViewBag.Departments[i].Id" class="btn btn-info">Edit</a>
                    <a href="/Department/Delete/@ViewBag.Departments[i].Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@* </form> *@
